*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-variant: inherit;
    text-transform: inherit;
    color: inherit;
}